header {
  display: block;
  position: sticky;
  background-color: yellow;
  height: 60px;
}

nav {
  display: flex;
  justify-content: space-around;

}

nav img {
  height: 60px;
}

nav li {
  margin-top: 10px;
  display: flex;
  text-decoration: none;
  align-content: center;

}

nav input {
  height: 40px;
  width: 180px;
  margin-top: 10px;
}

nav button {
  height: 40px;
  width: 140px;
  margin-top: 10px;
  background-color: black;
  color: white;
}

.bebak {
  padding: 20px;
}

.img {
  display: flex;
  flex-shrink: 1;
  width: 1200px;
  padding-left: 60px;
}

.explore {
  display: flex;
}

.div1 {
  width: 50%;
}


.featured {
  display: block;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.featured h1 {
  font-size: 80px;
}